@import '~bootstrap/scss/bootstrap';
@import './partials/variables.scss';
@import './partials/header.scss';
@import './partials/footer.scss';
@import './partials/mainSection.scss';
@import './partials/sectionStore.scss';
@import './partials/sectionSingleItem.scss';


.colorLightBlue{
    color: $colorLightBlue;
}

.borderLightBlue{
    border-bottom: 0.3rem solid $colorLightBlue;
}

.colorBack{
    background-color: #1c1c1c;
}
