#mainSection{
    background-color: #1c1c1c;
    div{
        #currentSeries{
            top: -20px;
            left: 0;
            font-family: 'Asap Condensed', sans-serif;
            font-weight: 600;
            font-size: 1.2rem;
            background-color: $colorLightBlue;
            border: none;
            padding: 0.5rem 1rem;
        }
        ul{
            color: white;
            li{
                list-style: none;
                width: calc((100% / 4) - 1rem);
                padding: 2rem;
                background-color: #333131;
                border-radius: 2rem;
                &:hover{
                    scale: 105%;
                }
                a{
                    text-decoration: none;
                    &:hover{
                        filter: brightness(1.2);
                    }
                    div{
                        height: 25rem;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: space-between;
                        div{
                            width: 15rem;
                            height: 18rem;
                            img{
                                height: 100%;
                                width: 100%;
                            }
                        }
            
                        span{
                            display: block;
                            font-size: 0.7rem;
                            color: grey;
                            text-transform: capitalize;
                        }
                    }
                }
            }
        }
        .loadMore{
            font-family: 'Asap Condensed', sans-serif;
            font-weight: 600;
            font-size: 1rem;
            background-color: $colorLightBlue;
            border: none;
            padding: 0.5rem 2rem;
            &:hover{
                background-color: #0282f98e;
            }
        }
    }
}